<form action="" method="post" id="frmNwEspectro">
    @Html.Hidden("guidPanton")
    <div id="contMdlProdEspectro">
        @Html.Hidden("hdfEspectro")

        <div id="contSlPrdEsptrPant">
            <div class="form-group">
                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                    <div id="contDoughut">
                        <div class="x_content">
                            <canvas id="canvas_doughnut1"></canvas>
                        </div>
                    </div>
                    <div id="contNewPanton">
                        <div class="wrapperNewPanton">
                            <div id="contKnobNewPanton">
                            </div>
                        </div>
                        <div class="contBtnAddPanton">
                            <button type="button" class="btn btn-success btn-lg" onclick="Produccion.ProductoAgregarPanton();"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="Produccion.ProductoOcultarAddPanton();"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contPantones">

        </div>
    </div>
</form>
<script>
    $(document).ready(function () {

        //Para obtener los colores en HEX
        Produccion.ObtenerTodosPantones();
        var doughnutData = [];
        setTimeout(function () {
            Produccion.ProductoGeneraKnobTodosPantones();
        }, 1000);


        $("#panton_idpanton").select2();

        $("#panton_idpanton").on("select2:select", function (e) {
            var IdPant = e.params.data.id;
            if (IdPant != undefined && IdPant > 0) {
                Produccion.ProductoMostarAddPanton();
                $("#contKnobNewPanton").empty();

                $.each(dataProd.pantones, function (idx, item) {
                    if (IdPant == item.idpantone) {
                        $("#contKnobNewPanton").html('<input id="newKnob" class="knob" ' +
                            ' data-width="100" data-height="120" data-angleoffset=90 data-linecap=round ' +
                            ' data-fgcolor="#' + item.hex + '" value="10">');
                    }
                });
                console.log(dataProd.pantones[IdPant - 1]);
                Produccion.ProductoActualizaColorNuevoPanton();
            }
        });

        dataProd.pantSelecDoughnut = new Chart(document.getElementById("canvas_doughnut1").getContext("2d")).Doughnut(doughnutData, {
            //Boolean - Whether we should show a stroke on each segment
            segmentShowStroke: true,
            //String - The colour of each segment stroke
            segmentStrokeColor: "#fff",
            //Number - The width of each segment stroke
            segmentStrokeWidth: 2,
            //Number - The percentage of the chart that we cut out of the middle
            percentageInnerCutout: 50, // This is 0 for Pie charts
            //Number - Amount of animation steps
            animationSteps: 100,
            //String - Animation easing effect
            animationEasing: "easeOutBounce",
            //Boolean - Whether we animate the rotation of the Doughnut
            animateRotate: true,
            //Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale: false,
            responsive: true,
            legendTemplate: ""
        });

        //Para editar. Carga lo guardado anteriormente
        setTimeout(function () {
            //Produccion.ProductoGeneraKnobTodosPantones();
            //Produccion.ProductoActualizarDonaPanton();
        }, 1000);


    });


</script>
