/*#region [ Pegante ]*/
/*#endregion*/


/*#region [ Accesorios ]*/
#contProdAccrs {
}

/*#endregion*/





/*#region [ Panton-Espectro ]*/

.pantonSelec {
}

.contClose {
    position: relative;
}

    .contClose i {
        cursor: pointer;
        right: 0;
        position: absolute;
        color: #ff0000;
        font-size: 16px;
    }


#contDoughut {
    position: relative;
    display: none;
    max-width: 260px;
    max-height: 130px;
}

#contNewPanton {
    left: 34%;
    position: relative;
    width: 220px;
    display: none;
}

.wrapperNewPanton {
    width: 50%;
}

.wrapperPantones {
    width: 100px;
    display: inline-block;
    margin: 0 20px;
}

    .wrapperPantones.error {
        background-color: #ff0000;
    }

        .wrapperPantones.error .contClose i {
            color: #fff;
        }

.contBtnAddPanton {
    position: absolute;
    right: 0;
    top: 30%;
}

    .contBtnAddPanton button {
    }

        .contBtnAddPanton button:active {
            position: relative;
            top: 2px;
        }

/*#endregion*/
