@model Tier.Gui.CotizarService.CotizacionDetalle
<div id="contDetalleCotizarProductoEscala">
    <div class="form-group">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            @*@Html.LabelFor(model => model., new { @class="" })
            @Html.TextBoxFor("", )*@
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
        </div>
    </div>
</div>
