@{
    ViewBag.Title = "CrearCliente";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="form-horizontal form-label-left input_mask">
    <div class="col-md-8 col-xs-12">

        <div class="col-md-5 col-sm-5 col-xs-11 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" placeholder="Identificación">
            <span class="fa fa-paw form-control-feedback left" aria-hidden="true"></span>

        </div>
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <input type="text" size="20" class="form-control " disabled="disabled" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12  form-group has-feedback">
            <select class="form-control">
                <option>Tipo de Identificación</option>
                <option>Option one</option>
                <option>Option two</option>
                <option>Option three</option>
                <option>Option four</option>
            </select>
        </div>
        <div class="col-xs-12 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" placeholder="Nombre o razón social">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>



        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Contactos <small>Información de contactos</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">


            </div>
        </div>
    </div>
</div>

