@{
    ViewBag.Title = "GestionComercial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Listar-->
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestión comercial</h2>
            <ul class="nav navbar-right panel_toolbox">
                @*<li>
                        <a href="@Url.Action(" ", " " )"><i class="fa fa-plus"></i> Crear</a>
                    </li>*@
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-close"></i> Cerrar</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-bookmark-o"></i>
                        </div>
                        <div class="count">@Html.ActionLink("179", "GestionarPedidos", "Comercial")</div>

                        <h3>Nuevos pedidos</h3>
                        <p>Pedido creados por los asesores.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>